body {
    background-color: #0f172a;
    font-family: Arial, sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #020617;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px #38bdf8;
}

button {
    padding: 10px 20px;
    background: #38bdf8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #0ea5e9;
}
